//*******************************////*******************************////*******************************//
//*******************************////*****  DEFINE FONT FACES  *****////*******************************//
//*******************************////*******************************////*******************************//

@font-face
  font-family: 'OS-300'
  src: url('fnt/OpenSans-Light.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OS-300 italic'
  src: url('fnt/OpenSans-LightItalic.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OS-400'
  src: url('fnt/OpenSans-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OS-400 italic'
  src: url('fnt/OpenSans-Italic.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OS-600'
  src: url('fnt/OpenSans-Semibold.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OS-600 italic'
  src: url('fnt/OpenSans-SemiboldItalic.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OS-700'
  src: url('fnt/OpenSans-Bold.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OS-700 italic'
  src: url('fnt/OpenSans-BoldItalic.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OS-800'
  src: url('fnt/OpenSans-ExtraBold.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OS-800 italic'
  src: url('fnt/OpenSans-ExtraBoldItalic.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OW-300'
  src: url('fnt/Oswald-Light.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OW-500'
  src: url('fnt/Oswald-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OW-800'
  src: url('fnt/Oswald-Bold.ttf') format('truetype')
  font-weight: normal
  font-style: normal