.form-group
    position: relative

input[type="text"], input[type="email"], input[type="password"], input[type="number"], select
    -webkit-appearance: none
    -moz-appearance: none
    box-sizing: border-box
    border: 1px solid $c6
    height: 2.3rem
    margin-bottom: 1rem
    width: 100%
    padding: 0 1rem
    color: $c8
    font-family: 'OS-300'
    font-size: 0.8em
    position: relative
    border-radius: 0
    min-width: 0

    &:hover, &:focus, &:active
        outline: none

    & + label
        position: absolute
        display: none
        width: 9em
        right: -10em
        top: 0
        font-family: 'OS-300 italic'
        color: $c2
        font-size: 0.8rem
        line-height: 1.15rem

    &.error + label
        display: block

select
    background-color: white

    &.placeholder
        color: $c7
        font-family: 'OS-300 italic'

        option
            font-family: 'OS-300'

input[type="checkbox"].big
    height: 0
    width: 0
    padding: 2rem
    margin: 1.7rem 2.5rem 1.7rem 1.7rem
    position: relative

    & + label
        position: relative

    & + label svg
        position: absolute
        height: 50%
        width: 50%
        top: 0.75em
        left: -3.7em

        path
            stroke-dasharray: 70 80
            stroke-dashoffset: 80

    & + label::before
        content: ''
        width: 3.4rem
        height: 3.4rem
        position: absolute
        box-sizing: border-box
        top: -0.15em
        left: -4.2em
        border: 2px solid $c6
        border-radius: 50%
        background-color: $c1

    &:checked + label svg
        display: block

        path
            stroke-dashoffset: 0
            transition: stroke-dashoffset 0.3s ease-in

input[type="checkbox"] + span
    & + button
        margin-top: 1rem

    text-transform: uppercase
    font-size: 0.85em
    line-height: 0.85em
    color: $c8
    vertical-align: middle
    font-family: 'OW-300'

textarea
    box-sizing: border-box
    border: 1px solid $c6
    height: 12rem
    line-height: 1.5em
    width: 100%
    margin-bottom: 1em
    padding: 0.7em 1em 0 1em
    resize: vertical
    color: $c8
    font-family: 'OS-300'
    font-size: 0.8em
    border-radius: 0

    &:hover, &:focus, &:active
        outline: none

    & + label
        position: absolute
        display: none
        width: 9em
        right: -10em
        top: 0
        font-family: 'OS-300 italic'
        color: $c2
        font-size: 0.8rem
        line-height: 1.15rem

    &.error + label
        display: block

button
    border: none
    padding: 0
    display: block
    width: 100%
    height: 3.4rem
    line-height: 3.4rem
    background-color: $c4
    color: $c1
    text-align: center
    font-family: 'OW-500'
    text-transform: uppercase
    letter-spacing: 0.3em
    transition: background-color 0.2s

    &:hover, &:focus, &:active
        outline: none

    &:hover
        background-color: $c5
        transition: background-color 0.2s
        cursor: pointer

    &.done
        background-color: $c1
        border: 3px solid $c4
        color: $c4
        @include calc(line-height, '3.4rem -' 6px)

::-webkit-input-placeholder
    color: $c7
    font-family: 'OS-300 italic'
\:-moz-placeholder
    color: $c7
    font-family: 'OS-300 italic'
::-moz-placeholder
    color: $c7
    font-family: 'OS-300 italic'
\:-ms-input-placeholder
    color: $c7
    font-family: 'OS-300 italic'