@import fonts
@import variables
@import mixins
@import text
@import forms
@import main
@import partials/header
@import partials/contact
@import partials/blog
@import partials/login
@import partials/footer
@import partials/post
@import partials/team
@import partials/index
@import partials/order
@import partials/calculator

body, html
    height: 100%
    width: 100%
    margin: 0 auto
    margin-top: $padding * 3.5
    @media (min-device-width: 736px)
        margin-top: 0

body
    overflow-x: hidden

.shadow
    -webkit-filter: drop-shadow( 0 0 10px transparentize($c9, 0.8) )
    filter: drop-shadow( 0 0 10px transparentize($c9, 0.8) )

.break
    height: 5rem

.hidden
    display: none

.icons
    a
        display: inline-block
    svg
        height: 2em
        width: 2em

        &:hover circle
            fill: $c4
        &:hover .shadow
            opacity: 0.1
        &:hover .icon
            fill: $c1

    circle
        fill: $c6

    .icon
        fill: $c7

*
    box-sizing: border-box

a
    cursor: pointer !important
