main
    $main-color: $c2
    color: $main-color
    padding-top: 10vw
    width: 100%

    @media (max-device-width: 736px) and (orientation: landscape)
        width: 80vw

    @media (min-device-width: 736px)
        width: auto
        padding-top: 170px
        margin: 80px 5vw 80px 5vw
        @media (min-width: $breakpoint-2)
            margin: 80px 15vw 80px 15vw
        @media (min-width: $breakpoint-3)
            margin: 80px 250px 80px 250px
        @media (min-width: $breakpoint-4)
            @include calc(margin-left, 250px '+ 100vw / 2 -' $breakpoint-4 / 2)
            @include calc(margin-right, 250px '+ 100vw / 2 -' $breakpoint-4 / 2)

    .general
        position: relative
        margin-bottom: $padding

    %side
        position: absolute
        height: 100%
        top: 3px
        @include flex
        @include flex-direction(column)
        @include justify-content(space-between)

    .left
        $side-width: 250px
        @extend %side
        width: $side-width
        left: -$side-width - $padding

        > *
            text-align: right

        @media (max-device-width: 736px)
            @include flex-direction(row)
            -webkit-flex-wrap: wrap
            flex-wrap: wrap
            align-items: flex-end
            margin-left: $padding
            margin-right: $padding
            position: absolute
            height: $padding * 2.3
            left: 0
            top: -$padding * 2.3

            //> *
                width: 50%

            > div span.h4, > div span.h3, > div h3, > div h4
                text-align: left

    .right
        $side-width: 250px
        @extend %side
        width: $side-width
        right: -$side-width - $padding

    .bottom
        position: absolute
        width: 100%
        height: $padding * 2
        left: 0
        bottom: -$padding * 2.3

        &.more
            opacity: 0
            @include flex
            @include align-items(flex-end)
            @include justify-content(flex-end)
            left: $padding * 1.5
            padding-bottom: 10px
            cursor: pointer

            span
                padding-right: 8px
                margin-bottom: 5px
                font-size: 0.9em

    .center
        margin-left: $padding
        margin-right: $padding
        margin-top: $padding * 2.3
        padding-top: $padding / 2
        border-top: 3px solid $main-color
        @media (min-device-width: 736px)
            margin: 0
            padding-left: $padding
            padding-top: 0
            border-top: none
            border-left: 3px solid $main-color

    .buttons
        @include flex

        > *:not(:last-child)
            margin-right: 5px

.main
    @extend main


