@mixin calc($property, $data)
    #{$property}: calc(#{$data})
    #{$property}: -webkit-calc(#{$data})
    #{$property}: -moz-calc(#{$data})

@mixin flex
    display: box
    display: -webkit-box  
    display: -moz-box     
    display: -ms-flexbox      
    display: -webkit-flex
    display: flexbox
    display: flex

@mixin flex-content
    -webkit-box-flex: 1
    -moz-box-flex: 1
    -webkit-flex: 1
    -ms-flex: 1
    flex: 1

@mixin justify-content($v)
    -webkit-justify-content: $v
    justify-content: $v

@mixin align-items($v)
    -webkit-align-items: $v
    -ms-flex-direction: $v
    align-items: $v

@mixin flex-direction($v)
    -webkit-flex-direction: $v
    flex-direction: $v

@mixin flex-basis($v)
    -webkit-flex-basis: $v
    flex-basis: $v

@mixin translate($x, $y)  
    -moz-transform: translate($x, $y)
    -ms-transform: translate($x, $y)
    -webkit-transform: translate($x, $y)
    transform: translate($x, $y)

@mixin scale($s)  
    -moz-transform: scale($s)
    -ms-transform: scale($s)
    -webkit-transform: scale($s)
    transform: scale($s)