body
    font-family: 'OS-300'

h1
    font-size: 2em
    font-family: 'OW-800'
    //color: $c2
    text-transform: uppercase
    letter-spacing: 0.4em
    margin: 5vh 0 9vh 0
    @media (min-device-width: 736px)
        margin: 0 0 3em 0

h2
    font-size: 1em
    font-family: 'OS-600'
    color: $c9
    margin: 0 0 0.8em 0

%h34
    font-size: 1em
    line-height: 0.9em
    //color: $c2
    text-transform: uppercase
    text-align: right
    display: block
    margin: 0 0 0.2em 0
    font-weight: normal

h3, span.h3
    @extend %h34
    font-family: 'OW-800'

h4, span.h4
    @extend %h34
    font-family: 'OW-300'

span.h2
    @extend h1
    display: block
    font-size: 1.6em

p
    font-size: 1em
    font-family: 'OS-300'
    color: $c8
    margin: 0

    b
        font-family: 'OS-600'

a
    color: inherit
    text-decoration: inherit

q
    display: block
    padding: 15px
    font-style: italic