<article id="postPrev" class="general">
    <section class="sectionLeft left">
        <div>
            <span class="date h3"></span>
            <span class="category h4"></span>
        </div>

        <div class="icons">
            <a class="twitter">
                @@include('../partials/facebook.svg')
            </a>
            <a class="facebook">
                @@include('../partials/twitter.svg')
            </a>
        </div>
    </section>

    <section class="sectionRight center">
        <div class="post">
            <h2 class="title"></h2>
            <div class="content"></div>
        </div>
        <div class="picture"></div>
    </section>

    <section class="more bottom">
        <span class="more h4">read more</span>
        <svg class="more" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="71.026px" height="22.991px" viewBox="0 0 71.026 22.991" enable-background="new 0 0 71.026 22.991" xml:space="preserve">
            <path class="more" d="M58.343,0l12.683,10.891l-12.683,12.1l-0.038-4.84H0V4.84h58.138L58.343,0z"/>
        </svg>
    </section>
</article>