<article id="postAdd">
    <form id="newPostForm">
        <section class="sectionLeft left">
            <div>
                <h3>New post</h3>
            </div>
        </section>
        <section class="sectionRight">
            <input type="text" id="title" placeholder="title">
            <textarea id="content" placeholder="content"></textarea>
            <select id="category" placeholder="category">
                <option value="events">events</option>
                <option value="publications">publications</option>
                <option value="about us">about us</option>
                <option value="education">education</option>
            </select>
            <input type="checkbox" id="forblog"><span>show post in blog</span><br/>
            <input type="checkbox" id="formedia"><span>show post in section for media</span>
            <button type="button" id="send">save</button>
        </section>
    </form>
</article>