<div id="postView">
    <header>
        <h1 class="title"></h1>
    </header>

    <article class="general">
        <section class="sectionLeft bottom">
            <div class="icons">
                <a class="twitter">
                    @@include('../partials/facebook.svg')
                </a>
                <a class="facebook">
                    @@include('../partials/twitter.svg')
                </a>
            </div>

            <div>
                <span class="date h3"></span>
                <span class="show category h4"></span>
            </div>
        </section>

        <section class="sectionRight">
            <div class="show content"></div>
            <div class="picture show"></div>
            <input class="hidden" type="text" id="title-edit" placeholder="title">
            <textarea class="hidden" id="content-edit" placeholder="content"></textarea>
            <select class="hidden" id="category-edit" placeholder="category">
                <option value="events">events</option>
                <option value="publications">publications</option>
                <option value="about us">about us</option>
                <option value="education">education</option>
            </select>
        </section>
    </article>
</div>
