    <footer>
        <div class="icons">
            <a href="https://www.facebook.com/bineworld/" class="facebook">
                @@include('../partials/twitter.svg')
            </a>
            <a href="https://twitter.com/worldofbine" class="twitter">
                @@include('../partials/facebook.svg')
            </a>
            <a href="https://pl.pinterest.com/world_of_bine/pins/" class="pinterest">
                @@include('../partials/pinterest.svg')
            </a>
            <a href="https://www.instagram.com/world_of_bine/" class="pinterest">
                @@include('../partials/instagram.svg')
            </a>
            <a href="https://www.youtube.com/channel/UCg4WAB22oTdoQ8CIUzEROPQ" class="pinterest">
                @@include('../partials/youtube.svg')
            </a>
        </div>
        <div class="icons-left">
            <a href="#top" class="pinterest">
                <img src="../img/top.svg" alt="go to the top">
            </a>
        </div>
    </footer>
  </body>
</html>