    <link rel="stylesheet" type="text/css" href="../general.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="http://bine.world/img/logo.jpg" />
    <meta property="og:title" content="World of Bin-e"/>
    <meta property="og:description" content="Bine is a device for automatic waste sorting combined with intelligent object recognition and application for remote management of the recycling process."/>
    <meta property="fb:app_id" content="588503981316490"/>
    <meta name="keywords" content="bine, bin-e, internet of things, smart home, recycling problem solution, objects recognition system, innovation in recycling, smart city, ecological solutions, recycling solution, bin, trash bin">
    <meta name="description" content="Bine is a device for automatic waste sorting combined with intelligent object recognition and application for remote management of the recycling process.">
  </head>
  <body>
    <script src="../js/FacebookSDK.js"></script>
    <?php include_once("../api/analyticstracking.php") ?>
    <header class="top" id="menu">
      <svg class="menu shadow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="3500px" height="220px" viewBox="0 0 3500 220" enable-background="new 0 0 3500 220" xml:space="preserve">
        <g>
          <path fill="#FFFFFF" d="M0,0v219.283c0,0,857.885,0,859.124,0c0,0,72.07,0,140.838,0c1.25,0,2.569,0,3.808,0
            c67.315,0,76.69-74.918,150-74.918H4500V0H0z"/>
        </g>
      </svg>

      <div class="menu-container">
        <a href="/">
          <img class="logo" src="../img/logo.svg" alt="logo">
        </a>
        <div id="open"><img src="../img/menu.svg"></div>
      </div>

      <!--<div class="preorder">
        <a href="/order">pre-order</a>
      </div> -->

      <nav>
        <ul id="nav-table">
          <li id="index">
            <a href="../">bin-e</a>
          </li>

          <li class="separator"></li>

          <li id="news">
            <a href="../news">news</a>
          </li>

          <li class="separator"></li>

          <li id="team">
            <a href="../team">team</a>
          </li>

          <li class="separator"></li>

          <li id="blog">
            <a href="../blog">blog</a>
          </li>

          <li class="separator"></li>

          <li id="contact">
            <a href="../contact">contact</a>
          </li>

          <li class="separator"></li>

          <li id="savings">
            <a href="../savings">savings</a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="top" style="position: absolute; margin-top: -80px"></div>

    <script src="../js/functions.js"></script>