main.blog, main.news
    $main-color: $c2
    fill: $main-color
    padding-left: 130px

    @media (max-device-width: 736px)
        padding-left: 0

    p
        text-align: justify
        font-size: 0.9em

        &:not(:last-of-type)
            margin-bottom: 0.5em

    .general
        margin-bottom: $padding * 3

    .content
        *:not(:nth-child(-n+2))
            display: none
        *:nth-child(2)
            margin-bottom: 0
            &::after
                content: '..'
            
    a
        font-family: 'OS-700'
        color: $c4
        cursor: pointer

    img
        width: 100%
        margin: 20px 0
        border-radius: 10px

main.blog
    .general:hover .more
        opacity: 1

main.news
    .bottom
        display: none

    .sectionRight
        @include flex

    .picture
        min-width: 30%
        margin-left: $padding

        &:empty
            min-width: 0
            margin-left: 0

        & > div
            width: 100%
            height: 100%
            background-position: center
            background-repeat: no-repeat
    
    @media (max-width: $breakpoint-2)
        .sectionRight
            flex-direction: column

        .picture
            height: 300px
            flex-basis: 100%
            margin-left: 0

            &:empty
                height: 0
                margin-top: -$padding

        .post
            order: 2

        .title
            margin-top: $padding

