.calculator

	.number
		border: 5px solid
		padding: $padding / 3
		border-radius: 50%
		font-family: OW-800
		font-size: 1.5em
		width: $padding * 1.5
		height: $padding * 1.5
		line-height: $padding * 1.5
		box-sizing: content-box
		text-align: center
		left: -$padding * 4

	.first-title
		text-transform: none
		letter-spacing: 0.05em
		font-family: OW-500

	.subtitle
		text-transform: none
		letter-spacing: 0.05em
		font-family: OW-300
		font-size: 0.6em
		line-height: 1em
		margin-top: -0.4em
		-webkit-font-smoothing: antialiased

	h1
		margin-bottom: 1em
	
	section
		position: relative
		padding-bottom: $padding * 4

		&::after
			position: absolute
			content: ''
			height: calc(100% - 6.2rem)
			left: -4.4rem
			bottom: 1rem
			border-left: 3px solid $c4

		&:last-child::after
			border: none
	
	input
		line-height: 2rem

	.undone
		color: $c6
		border-color: $c6 !important

		input[type="number"], input[type="text"]
			border-color: $c6 !important

	.active
		color: $c4

	.center
		padding: 0
		border-left: 0

	span
		display: block

	.group
		margin-bottom: $padding * 1.5

	.form-group
		margin-bottom: $padding / 3
		font-family: OW-300
		font-size: 1.1em

		header
			line-height: calc(2rem - 4px)

		&.radio input
			margin-left: $padding
			margin-right: $padding / 2

	.form-group:not(.radio)
		display: flex
		flex-direction: row
		flex-wrap: wrap

		header
			width: 340px

		input[type="number"], input[type="text"]
			height: 2rem
			margin: 0 $padding / 2 0 0
			width: 200px
			border: 2px solid $c4

			&.error
				border: 2px solid $c2

		> span
			line-height: calc(2rem - 4px)

	.select
		position: relative

		input
			z-index: 200

			&:focus
				border-bottom: 1px solid $c6

	.list
		position: absolute
		background-color: white
		border: 2px solid $c4
		width: calc(100% - 12.5px)
		top: calc(2rem - 2px)
		z-index: 100
		min-height: 2.4rem
		box-shadow: 0 0 10px $c7

		span
			line-height: calc(2.4rem)
			padding: 0 $padding / 2
			cursor: pointer

		span:hover
			background-color: $c6
			color: $c4

	.extrainfo
		line-height: 1.05em
		font-size: 1.05em
		font-family: OW-300
		margin-bottom: -3.5rem
		margin-top: 6rem
		color: $c7
		max-width: 540px

		a
			color: $c7
			cursor: pointer
			font-family: OW-500

	button
		max-width: 540px

	section.savings .center
		border: 2px solid $c4
		padding: 30px
		max-width: 540px

	#partly-if.error header
		color: $c2

	@media (max-device-width: 736px)
        
        section
        	padding-right: $padding
        	padding-left: $padding