main.contact
	$main-color: $c4
	color: $main-color
	padding-left: 130px
	@media (min-device-width: 736px) and (max-width: $breakpoint-2)
		margin-left: 15vw

	@media (max-device-width: 736px)
    	> header
	    	padding: 10vw $padding

	    padding-left: 0

	    .left.newsletter
	    	position: absolute
	    	left: $padding * 2.5
	    	bottom: 0
	    	height: auto
	    	width: auto

	    	input
	    		right: 300px

	    #send
	    	margin-left: 60%
	    	width: 40%

	    .break
	    	height: 3rem

	.center
		border-color: $main-color

		span
			display: block
			font-family: 'OS-300 italic'
			line-height: 1.1em
			letter-spacing: 0.02em
			color: $c8

			&.bold
					font-family: 'OS-400 italic'

	.bottom.more
		opacity: 1
		fill: $main-color

	.newsletter
		@include flex-direction(row)
		@include align-items(flex-end)
		@include justify-content(flex-end)

		input
			position: absolute
			bottom: 0
			right: 100px

		label span
				@extend h4
				color: inherit
				text-align: left

