footer
    height: 7rem
    margin-top: 2rem
    border-top: 1px solid $c6
    padding-top: 1.5rem
    background-color: $c1
    position: relative

    .icons
        font-size: 1.2em
        text-align: center

        a
            margin: 0 0.2em
        circle
            fill: $c4
        .icon
            fill: $c1
        .shadow
            opacity: 0.1

    .icons-left
        position: absolute
        right: 1.5rem
        top: 1.5rem
        font-size: 1.2em

        img
            height: 2em
            width: 2em

        @media (max-device-width: 736px)
            display: none


.index + footer
    height: 12rem

    .icons, .icons-left
        font-size: 1.4em