header.top
    width: 100%
    position: fixed
    top: -50px
    z-index: 9000
    box-sizing: border-box
    @media (min-device-width: 736px)
        height: 204px

        &::after
            content: ''
            width: 100%
            height: 120px
            left: 0
            top: 0
            background-color: $c1
            position: absolute
            z-index: -1
            box-shadow: 0 0 20px transparentize($c9, 0.8)

    .preorder
        cursor: pointer
        background-color: $c4
        width: $padding * 6
        height: $padding
        border-radius: $padding * 0.5
        color: white
        text-align: center
        line-height: $padding
        font-family: OS-600
        text-transform: uppercase
        letter-spacing: 5px
        font-size: 0.75em
        position: absolute
        top: 105px
        left: 105px


        @media (min-width: $breakpoint-2)
            top: 150px
            left: 105px
        @media (min-width: $breakpoint-3)
            @include calc(left, 105px - $breakpoint-3 / 2 '+ 100vw / 2')
        @media (min-width: $breakpoint-4)
            @include calc(left, 105px - $breakpoint-3 / 2 + $breakpoint-4 / 2)

    #open
        display: none

    .logo
        position: absolute
        top: 100px
        left: 40px
        height: 60px
        @media (min-width: $breakpoint-3)
            @include calc(left, 40px - $breakpoint-3 / 2 '+ 100vw / 2')
        @media (min-width: $breakpoint-4)
            @include calc(left, 40px - $breakpoint-3 / 2 + $breakpoint-4 / 2)


    .background
        display: block
        width: 100%
        margin-top: -20%

    .menu
        width: 3500px
        margin: -20px 0 0 -850px
        @media (min-width: $breakpoint-3)
            @include calc(margin-left, -850px - $breakpoint-3 / 2 '+ 100vw / 2')
        @media (min-width: $breakpoint-4)
            @include calc(margin-left, -850px - $breakpoint-3 / 2 + $breakpoint-4 / 2)

    nav
        position: absolute
        bottom: 110px
        right: 100px
        font-size: 0.7em
        font-family: 'OS-300'
        letter-spacing: 0.4em
        text-transform: uppercase
        color: $c8

    ul
        @include flex
        @include justify-content(space-between)
        list-style: none
        margin: 0
        padding: 0
        @include calc(width, '100vw - 500px')
        @media (min-width: $breakpoint-3)
            @include calc(width, $breakpoint-3 - 500px)
            @include calc(margin-right, '100vw / 2 -' $breakpoint-3 / 2)

    li
        position: relative
        display: block

        &.separator
            position: relative
            &:not(:last-child)::after
                content: ''
                position: absolute
                background-color: $c6
                opacity: 0.6
                width: 1px
                height: 200%
                right: 0
                top: -50%

        &::before, &::after
            content: ''
            width: 0
            height: 0.17em
            position: absolute
            bottom: -1em
            background-color: $c4
            left: 46%
            transition: width 0.5s ease-out, left 0.5s ease-out

        &.active::after, &:hover::before
            width: 100%
            left: -4%
            transition: width 0.5s ease-out, left 0.5s ease-out

    @media (max-width: $breakpoint-2)
        top: 0
        background-color: $c1
        box-shadow: 0 0 20px transparentize($c9, 0.8)
        height: auto

        &::after
            height: 0

        .logo
            position: relative
            height: 40px
            top: auto
            left: auto
            margin: 25px 0 0 25px

            @media (orientation: landscape)
                margin-top: 20px

        .menu
            display: none
        
        #open
            display: block
            height: 60px
            width: 60px
            margin: 3vh

            img
                height: 100%
                width: 100%

        nav
            position: relative
            bottom: auto
            right: auto

            ul
                display: block
                width: 100%

            li
                display: none
                width: 100%
                text-align: center
                line-height: 40px
                font-size: 1.2em
                border-bottom: 1px solid $c6

            a
                display: block
                width: 100%
                height: 100%

            ul.visible > li:not(.separator)
                display: block

            li.separator
                display: none

            li.active
                background-color: $c4
                color: $c1
                display: block !important

            li.active::after, li:hover::before
                width: 0 !important          

        .menu-container
            @include flex
            @include justify-content(space-between)
            border-bottom: 1px solid $c6





