main.index
    $main-color: $c2
    color: $main-color

    section
        margin-bottom: 15vw

    //******************************//
    //*********** headers **********//
    //******************************//

    .first-title
        font-size: 15vw
        letter-spacing: 0.15vw
        display: block
        @media (min-device-width: 736px)
            font-size: 1.9em
            letter-spacing: 0.2em
            line-height: 1em

    .subtitle
        font-size: 8vw
        letter-spacing: 0.2vw
        display: block
        margin-top: 0
        line-height: 1em
        @media (min-device-width: 736px)
            margin-top: 0.3em
            font-size: 1em
            letter-spacing: 0.4em

    @media (max-device-width: 736px) and (orientation: landscape)
        .first-title
            font-size: 10vw
            letter-spacing: 0.1vw

        .subtitle
            font-size: 6vw
            letter-spacing: 0.16vw

    //******************************//
    //*********** szablon **********//
    //******************************//

    .for-u
        display: block
        @include flex
        padding-bottom: $padding * 3
        position: relative
        -webkit-flex-wrap: wrap
        flex-wrap: wrap
        max-width: 100vw

        header
            width: 100%

        //******************************//
        //***** tabelka z ikonkami *****//
        //******************************//

        ul
            list-style: none
            margin: 0
            padding: 0

        li
            @include flex
            &:not(:last-child)
                margin-bottom: $padding * 1.5

        img.icon
            @include flex-basis(80px)
            margin-right: $padding
            margin-top: 0

        .point-text
            @include flex-basis(100%)
            font-size: 0.9em

        h2
            font-size: 1.2em
            margin-bottom: $padding / 3

        //*************************************//
        //*************** grid ****************//
        //*************************************//

        .left-site, .right-site
            display: block
            @include flex-content
            @include flex-basis(100%)
            min-width: 100vw
            max-width: 100vw
            padding: 1em 2em
            @media (min-device-width: 736px)
                @include flex-basis(50%)
                min-width: 0
                padding: 0

        .benefits-left
            box-sizing: border-box
            position: relative
            padding: 3em 2em 3em 0
            background-color: $c6
            margin-bottom: $padding * 4
            @media (min-device-width: 736px)
                padding: 6vw 4vw 6vw 0
            @media (min-width: $breakpoint-3)
                padding: 4vw 4vw 4vw 0

        .benefits-right
            box-sizing: border-box
            margin-bottom: $padding * 7
            position: relative
            font-size: 1.2em
            letter-spacing: 0.02em
            font-family: 'OW-300'
            color: $c7
            padding: 4vw 0 4vw 4vw
            text-align: right
            @media (min-device-width: 736px)
                font-size: 1.8em
                padding: 0 0 4vw 4vw
                margin-bottom: $padding * 15

        @media (max-device-width: 736px)
            width: 100vw

            header
                padding-left: 2em
            .first-title
                line-height: 1em
                padding-bottom: 0.2em
            .left-site
                order: 3
                margin-top: -$padding * 6
            .right-site
                order: 2
                padding: 0 2em
                font-size: 1.2em


        //*************************************//
        //************ backgrounds ************//
        //*************************************//

        .benefits-left::before
            content: ''
            position: absolute
            right: 0
            top: 0
            height: 100%
            width: 200vw
            background-color: $c6
            z-index: -100
            @media (min-device-width: 736px)
                width: 50vw

        > .background
            background-image: url('img/economy.jpg')
            background-position: center
            background-size: cover
            position: absolute
            right: 50%
            @include translate(50%, 0)
            bottom: 0
            height: $padding * 18
            width: 100vw
            background-color: $c2
            z-index: -200

            @media (max-device-width: 736px)
                height: $padding * 10

        //*************************************//
        //*************** submit **************//
        //*************************************//

        .go
            position: absolute
            left: 50%
            height: 20vw
            width: 90%
            @include flex
            overflow: hidden
            bottom: 0
            @include translate(-50%, 50%)
            @media (min-device-width: 736px)
                height: $padding * 3
                width: 100%
                @include translate(-50%, 150%)
                @media (min-width: $breakpoint-3)
                    width: 70%

            button
                width: 100%
                font-size: 1.1em
                height: 100%
                transition: width 0.2s ease
                padding: 0 $padding
                box-sizing: content-box
                z-index: 100
                @media (min-device-width: 736px)
                    padding: 0
                    box-sizing: border-box

            input
                height: 100%
                line-height: $padding * 3
                margin: 0
                margin-left: -34px
                width: 0
                transition: width 0.2s ease, margin-left 0.2s ease
                border: 2px solid $c4

            &.animate
                @include translate(-50%, 50%)
                transition: transform 0.5s ease-out, background-color 0.2s ease

            a
                position: absolute
                display: block
                width: 100%
                height: 100%
                cursor: pointer

    section.header
        @extend .for-u
        margin-bottom: -$padding * 2
        margin-top: $padding * 5

        header
            text-align: right
            margin-top: -$padding * 2
            color: $c2

            @media (max-device-width: 736px) and (orientation: landscape)
                text-align: left

            @media (min-device-width: 736px)
                margin-top: -$padding * 3

            h1
                letter-spacing: 0.2em

        > .background
            background-image: url('img/bine_office.jpg')
            height: $padding * 30
            background-position: right bottom

            @media (min-width: $breakpoint-5)
                height: $padding * 35

            @media (max-device-width: 736px)
                height: $padding * 18
                background-image: url('img/bine_office_small.jpg')
                background-position: center

            @media (min-device-width: 736px)
                top: 0

        .benefits-left
            font-size: 1.5em
            letter-spacing: 0.02em
            font-family: 'OW-300'
            color: $c1
            padding: 2em 2em 2em 0
            margin-bottom: $padding * 10
            background-color: $c4

            // @media (max-device-width: 736px) and (orientation: landscape)
            //     width: 75%

            @media (min-device-width: 736px)
                font-size: 2.5em
                margin-bottom: $padding * 21
                padding: 4vw 4vw 4vw 0
                width: auto

                @media (min-width: $breakpoint-5)
                    margin-bottom: $padding * 30

            &::before
                background-color: $c4

        .benefits-right
            width: auto
            margin-bottom: 0

        figure
            margin: 0
            display: none
            @media (min-device-width: 736px)
                display: block

        img
            width: 120%

        @media (min-device-width: 736px)
            margin-top: -175px

            .left-site
                padding-top: 205px

            .benefits-left
                margin-top: 250px
                padding-bottom: 3em
                margin-bottom: -2em

    //container pod video i planszę ponad nim
    .onvideo
        padding-bottom: 63%
        background-color: $c6
        -webkit-box-shadow: 0 0 100px transparentize($c9, 0.8)
        box-shadow: 0 0 100px transparentize($c9, 0.8)
        position: relative
        width: 100%
        font-size: 1.1em

        @media (max-device-width: 736px) and (orientation: landscape)
            width: 100vw

    .brightness
        position: absolute
        width: 100%
        height: 100%
        overflow: hidden
        border: 1px solid $c6

    video
        width: 100%
        height: 100%
        object-fit: cover
        // -webkit-filter: brightness(107%)

    h3
        color: $c1
        font-size: 1.8vw
        text-align: center
        line-height: 14vw
        font-family: 'OW-500'
        letter-spacing: 0.3em
        text-shadow: 0 0 20px transparentize(black, 0.7)

    .onvideo header
        border: 1px solid $c6
        position: absolute
        width: 100%
        top: 0
        left: 0
        height: 100%
        background-color: $c1
        z-index: 100

        img
            position: absolute
            top: 50%
            width: 15%
            left: 50%
            @include translate(-50%, 0)

            @media (max-device-width: 736px)
                top: 60%

        h4
            position: absolute
            top: 35%
            width: 100%
            @include translate(0, -50%)
            text-align: center
            font-size: 1.2em
            line-height: 1.2em
            letter-spacing: 0.2em
            color: $c4

            @media (max-device-width: 736px)
                font-size: 1em
                padding: 0 2em

        strong
            font-family: 'OW-500'
            font-weight: normal

    .for-industry
        @extend .for-u
        $main-color: $c4
        color: $main-color
        margin-bottom: 0

        > .background
            background-image: url('img/city.jpg')

        .benefits-left h2, .benefits-left p
            color: $c1

        .benefits-left
            background-color: $c4

        .benefits-left::before
            background-color: $c4

    section.go-contact
        margin-bottom: -80px
        text-align: center !important
        margin-top: $padding * 4

        > a
            display: block
            box-shadow: 0 0 20px $c6
            width: 90%
            margin-left: 5%
            padding: 6vh 10vh 20vh 10vh
            background-color: white

            @media (min-device-width: 736px)
                width: 70%
                margin-left: 15%
                padding-bottom: 6vh

        h1
            color: $main-color
            font-size: 1.4em
            font-family: OW-500
            letter-spacing: 0.2em
            margin-bottom: 3vh

        p
            color: $c7
            font-family: OS-300 italic
            letter-spacing: 1.5px
            line-height: 1.5em

        @media (min-device-width: 736px)
            transition: margin-top 0.2s ease
            margin-top: $padding * 1.5

            &.animate
                margin-top: -$padding * 1.5 !important

        @media (max-device-width: 736px) and (orientation: landscape)
            & > a
                padding: 10vh 20vh 35vh 20vh
                width: 100vw
                margin-left: 0


    section.targets

        .wrapper
            position: relative

        ul
            @include flex
            width: calc(200% + 2 * 5vw)
            padding: 0

        li
            margin-right: 5vw
            list-style: none
            flex-grow: 1
            position: relative
            padding-bottom: 5%

        li:nth-child(n+4)
            opacity: 0

        img
            width: 100%
            border-radius: 50%
            background-color: $c5

        .point-text
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            text-align: center
            font-size: 1.2em
            margin-top: 2em

        h2
            margin: 0

        .arrow
            position: absolute
            top: 0
            height: 100%
            z-index: 100
            opacity: 0.5
            transition: 200ms opacity ease-in
            transform: scale(1.2)
            cursor: pointer
            padding: 0 $padding * 2

            img
                background-color: transparent
                border-radius: 0
                padding: 0
                height: 80%

            &:hover
                opacity: 1

        .arrow:first-child
            left: -$padding * 7

        .arrow:last-child
            right: -$padding * 7

        @media (max-device-width: 736px) and (orientation: landscape)
            width: 100vw

            ul
                margin-top: $padding * 2

        @media (max-device-width: 736px)
            padding: 0 2em

            .arrow
                display: none

            .point-text
                line-height: 0.9em
                margin-top: 0
                letter-spacing: 0
                font-size: 0.7em

            ul
                flex-wrap: wrap
                //width: calc(100vw - 4em)
                width: 100%

            li
                padding-bottom: 12%
                opacity: 1 !important
                width: 26%

            li:nth-child(3), li:nth-child(6)
                margin-right: 0

            li:nth-child(n+4)
                padding-top: 2em

    a.a-savings
        background-color: $c4
        position: absolute
        right: 15vw
        top: 20vh
        height: 20vh
        width: 20vh
        border-radius: 50%
        color: white
        text-transform: uppercase
        font-family: OW-500
        text-align: center
        font-size: 1.9vh
        letter-spacing: 0.05em
        display: flex
        align-items: center
        justify-content: center

        @media (max-device-width: 736px)
            display: none
        @media (max-width: $breakpoint-4)
            top: 40vh
            width: 30vh
            height: 30vh
            font-size: 3vh
            right: 10vw

