main.order 
    .go
        position: relative
        height: 20vw
        @include flex
        overflow: hidden
        margin: 0 10vw

        @media (min-device-width: 736px)
            height: $padding * 3

        @media (min-width: $breakpoint-5)
            margin: 0 5vw

        &.animate
            @include translate(-50%, 50%)
            transition: transform 0.5s ease-out, background-color 0.2s ease

    button 
        width: 200px
        font-size: 1.1em
        height: 100%
        transition: width 0.2s ease
        padding: 0 $padding
        box-sizing: content-box
        z-index: 100
        @media (min-device-width: 736px)
            padding: 0
            box-sizing: border-box

    input
        height: 100%
        line-height: $padding * 3
        margin: 0
        width: 100%
        transition: width 0.2s ease, margin-left 0.2s ease
        border: 2px solid $c4

    .icons
        width: 100%
        text-align: center
        margin-bottom: 10vh

        img
            width: 3rem
            height: 3rem

    .comment
        margin: 10vh 10vw

        @media (min-width: $breakpoint-5)
            margin: 10vh 5vw

    p
        color: $c7
        font-family: OS-300 italic
        letter-spacing: 1.5px
        line-height: 1.5em
        margin-top: 1rem
        text-align: center

