main.post
    $main-color: $c2

    p
        text-align: justify
        font-size: 0.9em

        &:not(:last-of-type)
            margin-bottom: 0.5em

    .general
        margin-bottom: $padding * 6

    .bottom
        height: $padding * 2
        bottom: -$padding * 5
        padding-top: $padding
        @include flex
        @include flex-direction(row)
        @include justify-content(space-between)
        border-top: 3px solid $main-color

    a
        font-family: 'OS-700'
        color: $c4
        cursor: pointer

    img
        width: 100%
        margin: 20px 0
        border-radius: 10px