main.team
    $main-color: $c4
    color: $main-color

    .list
        @include flex
        flex-wrap: wrap
        -webkit-flex-wrap: wrap
        margin-right: -10vw
        @media (max-device-width: 736px)
            margin-right: 0

        article
            box-sizing: border-box
            @include flex-basis(50%)
            padding-right: 10vw
            margin-bottom: 10vw
            font-size: 1em
            min-width: 300px
            -webkit-flex-grow: 1
            flex-grow: 1
            @media (max-device-width: 736px)
                @include flex-basis(100%)
                padding: 4vw 16vw

        div
            margin-top: $padding * 2
            padding-top: $padding * 0.7
            border-top: 3px solid $main-color

        h2
            line-height: 0.9em
            margin-bottom: 3px
            font-size: 1.2em

        span
            display: block
            font-family: 'OS-800'
            font-size: 1.2em
            line-height: 0.8em
            margin-bottom: $padding * 0.7
            text-transform: uppercase

        &:nth-child(2)
            margin-right: -8vw
            @media (max-device-width: 736px)
                margin-right: 0

            article
                @include flex-basis(33.33%)
                font-size: 0.85em
                padding-right: 8vw
                min-width: 300px
                @media (max-device-width: 736px)
                    @include flex-basis(100%)
                    padding: 4vw 16vw

                &:empty
                    margin-bottom: 0

            span
                font-size: 1em
                line-height: 1em

        @media (max-device-width: 736px)
            font-size: 1em

    .avatar
        width: 100%
        border-radius: 50%